.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
}

.logo-text span {
    font-weight: 600;
    color: orangered;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
    list-style: none;
}

.nav-links a {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    /* get rid of underline with real links */
}

.nav-links a:hover {
    color: orangered;
}

a.btn {
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 8px;
}

a.btn-dark {
    border: 2px solid #fff;
    background: transparent;
}

a.btn-orange {
    border: 2px solid transparent;
    /* makes it stay same size */
    background: orangered;
    transition: all 0.2s;
}

a.btn-orange:hover {
    color: #fff;
    padding: 7px 10px;
    /* creates size on hover */
}

/* Hide hamburger icon on desktop */
.navbar .menu-icons {
    display: none;
}


/* Media query to hide Get Started button on small screens */
@media screen and (max-width: 769px) {
    .nav-btn {
        display: none;
    }
}

/* ===== SUBMENU STYLES FOR DESKTOP ===== */
/* Settings Link */
li.submenu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.submenu-link a {
    padding: 0 2px;
}

/* Keep styles for shown and hidden the same. Only difference is the position  */
.navbar #submenu-nav-links,
.navbar #hide-submenu-nav-links {
    display: block; /* Make it a stacked list */
    position: absolute;
    left: 65%; /* aligns it under Settings link */
    top: 6.5rem; /* Moves it under link */
    border: 1px solid #fff;
    transition: all 0.3s;
    padding: 1.5rem;
    text-align: center;
}

/* ===== POSITIONING for when open and hidden 
    Commented first code block out. Instructor left it, but it's not needed
===== */
/* .navbar #submenu-nav-links {
    top: 6.5rem;
} */

.navbar #hide-submenu-nav-links {
    top: -26.5rem; /* Moves up off page */
}

.navbar #submenu-nav-links li,
.navbar #hide-submenu-nav-links li {
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
    margin: 0;
}



/* Media query for mobile width */
@media screen and (max-width: 600px) {
    .nav-btn {
        display: block;
        /* show orange button */
    }

    .nav-links {
        display: none;
        /* Hide top menu on mobile */
    }

    .navbar .menu-icons {
        display: block;
        /* shows hamburger menu */
        z-index: 11;
        /* place x icon on top */
    }

    /* Style links the same when shown and hidden, as well as nav wrapper div */
    /* Added styling for SUBMENU here as well */
    .navbar #mobile-nav-links,
    .navbar #hide-mobile-nav-links,
    .nav-wrapper,
    .navbar #submenu-nav-links,
    .navbar #hide-submenu-nav-links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50%;
        display: block;
        background-color: rgba(0, 123, 255, 0.8);
        padding: 2rem;
        transition: all 0.3s;
    }

    .navbar #submenu-nav-links,
    .navbar #hide-submenu-nav-links {
        background-color: rgba(0, 123, 255, 1);
        text-align: left;
    }

    /* Style SUBMENU the same */
    .navbar #mobile-nav-links li,
    .navbar #hide-mobile-nav-links li,
    .navbar #submenu-nav-links li,
    .navbar #hide-submenu-nav-links li {
        border-bottom: 1px solid #fff;
        padding: 7px 0;
        margin-left: 0;
    }

    /* Position nav menus */
    .navbar #mobile-nav-links {
        transform: translateX(0);
    }

    /* Take it off the page by 200% */
    .navbar #hide-mobile-nav-links {
        transform: translateX(200%);
    }

    .nav-wrapper {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateX(-200%);
        /* Take it out to the left initially */
    }

    .show-nav-wrapper {
        transform: translateX(0);
        /* Show it (black screen behind menu) */
    }

    /* Make button full width */
    .btn {
        display: block;
        text-align: center;
    }

    /* Positioning for SUBMENU */
    /* Shown */
    .navbar #submenu-nav-links {
        transform: translateX(0);
    }

    .navbar #hide-submenu-nav-links {
        transform: translateX(-200%);
    }
}